# Real Data

In [1]:

#-------------- default module --------------#
import os
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno
import plotly.express as px

# ------------------ side dish -------------- #

from IPython.display import HTML
from matplotlib.colors import ListedColormap

# ---------- layout & optional view ------------ #
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all" # able to run multiple command in 1 line

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', '{:.2f}'.format)  # display whole numbers without +3
pd.set_option('display.float_format', '{:,.1f}'.format) # thousand separated by comma
pd.options.display.float_format = '{:,}'.format # thousand separated by comma

sns.color_palette("PuBu")
sns.set_style("whitegrid")

custom_palette = ["#085a92", "#043657", "#f8f7f3", "#8d1e21", "#ec3237"]
sns.set_palette(custom_palette)
sns.set(style="whitegrid", font_scale=1.2, palette=custom_palette)

pd.set_option('display.max_columns', None)

%matplotlib inline

In [2]:
 def summary(df):
        summary_df = pd.DataFrame(df.dtypes, columns=['dtypes'])
        summary_df['missing#'] = df.isna().sum()
        summary_df['missing%'] = round((df.isna().sum()) / len(df), 2)
        summary_df['duplicated#'] = df.duplicated().sum()
        summary_df['duplicated%'] = (df.duplicated().sum()) / len(df)
        summary_df['uniques'] = df.nunique().values
        summary_df['count'] = df.count().values
        summary_df['unique'] = [df[col].unique()[:4] for col in df.columns]
        summary_df['mode'] = df.mode().transpose().iloc[:, 0].values
 
     # Merge numerical summary information
        numerical_cols = df.select_dtypes(include=['number']).columns
        numerical_summary_df = pd.DataFrame({
            'Mean': df[numerical_cols].mean(),
            'Median': df[numerical_cols].median()
        })
     
        summary_df = summary_df.merge(numerical_summary_df, left_index=True, right_index=True, how='left')
 
     # Apply background gradient to the summary DataFrame
        style = summary_df.style.background_gradient(cmap='Blues')
     
        return style

In [3]:
folder = '/Users/amarindraardinova/Documents/Data Scientist/Rakamin/Rakamin/04. VIX/VIX 03/week3/tugas_akhir/'

data_apptrain = f"{folder}application_test.csv"
data_apptest  = f"{folder}application_train.csv"
data_bureau_balance = f"{folder}bureau_balance.csv"
data_bureau   = f"{folder}bureau.csv"
data_credit_card_balance = f"{folder}credit_card_balance.csv"

In [4]:
apptrain   = pd.read_csv(data_apptrain)
apptest    = pd.read_csv(data_apptest)
bureau_bal = pd.read_csv(data_bureau_balance)
bureau     = pd.read_csv(data_bureau)
cc_balance = pd.read_csv(data_credit_card_balance)

In [5]:
apptrain.shape
apptest.shape
bureau_bal.shape
bureau.shape
cc_balance.shape

(48744, 121)

(307511, 122)

(27299925, 3)

(1716428, 17)

(3840312, 23)

# Understanding Apptrain & Apptest

In [6]:
summary(apptrain)
summary(apptest)

In [7]:
apptrain.describe()
apptest.describe()

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,TOTALAREA_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,"48,744.0","48,744.0","48,744.0","48,744.0","48,720.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","16,432.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","28,212.0","48,736.0","40,076.0","24,857.0","21,103.0","25,888.0","16,926.0","15,249.0","23,555.0","25,165.0","25,423.0","16,278.0","20,490.0","15,964.0","25,192.0","15,397.0","22,660.0","24,857.0","21,103.0","25,888.0","16,926.0","15,249.0","23,555.0","25,165.0","25,423.0","16,278.0","20,490.0","15,964.0","25,192.0","15,397.0","22,660.0","24,857.0","21,103.0","25,888.0","16,926.0","15,249.0","23,555.0","25,165.0","25,423.0","16,278.0","20,490.0","15,964.0","25,192.0","15,397.0","22,660.0","26,120.0","48,715.0","48,715.0","48,715.0","48,715.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","42,695.0","42,695.0","42,695.0","42,695.0","42,695.0","42,695.0"
mean,"277,796.67634990974",0.39705399638929917,"178,431.80585487446","516,740.43556129985","29,426.240209359607","462,618.84047267353",0.021225641084030845,"-16,068.084605284754","67,485.36632200886","-4,967.652716231742","-3,051.712949286066",11.786027263875365,0.9999794846545216,0.8097201706876744,0.20470211718365336,0.9983998030526834,0.26312982110618743,0.16264565895289676,2.1467667815526013,2.038158542589857,2.0125964221237487,12.007365009026753,0.01883308714918759,0.05516576399146562,0.04203594288527819,0.07746594452650582,0.22466354833415395,0.17421631380272443,0.501179810639628,0.5180210756705393,0.5001056254095524,0.12238773786056242,0.09006548358053357,0.9788281597651421,0.7511370908661232,0.047623660567906095,0.08516829547866696,0.1517772382276972,0.2337062187782716,0.23842308637424747,0.06719209370424596,0.10588525432222502,0.11228625754207686,0.00923148015847243,0.029387290379523385,0.1190780061954379,0.088998071364261,0.9782923478059332,0.7583271475835992,0.045223037576234505,0.08056993844194439,0.14716063977746868,0.22939010344963223,0.233853986976287,0.0659141093216203,0.11087422951641193,0.11068678151794219,0.008357543677339742,0.02816147837599294,0.12280867763607836,0.08952910012794389,0.97882203723733,0.754343619283942,0.04742038166437143,0.08412821057100403,0.151200162924697,0.23315364040435826,0.23784589015849614,0.06806901903367496,0.10706329240791783,0.11336773181962527,0.008978853023316231,0.029296288614298328,0.10712853369065849,1.4476444626911629,0.1436518526121318,1.435738478907934,0.10113927948270553,"-1,077.7662276382734",0.0,0.7866198916789758,0.00010257672739208929,0.014750533398982439,0.08747743311997375,4.103069095683571e-05,0.0884621697029378,0.0044928606597735106,0.0,0.0011693746922698178,0.0,0.0,0.0,0.0,0.0,0.0,0.001559166256359757,0.0,0.0,0.0,0.0021079751727368545,0.0018034898700081978,0.0027872116172853964,0.009298512706405903,0.546902447593395,1.9837685911699263
std,"103,169.54729627114",0.7090468312730408,"101,522.59153614278","365,397.0041738182","16,016.368315258078","336,710.215039643",0.014428194484779932,"4,325.900393031723","144,348.5071360403","3,552.6120351234963","1,569.2767091933626",11.46288905839524,0.004529386876655368,0.39252589316298747,0.40348791847306004,0.03997085305294108,0.4403367986035462,0.3690458544150365,0.8904228948066035,0.5226939600464158,0.5158041404113929,3.2781720386173405,0.13593668039273465,0.22830587335368033,0.20067323822280692,0.26733207462590486,0.4173648428199108,0.3792992767040749,0.20514231349815232,0.18127811687219708,0.18949799468722955,0.11311238955429741,0.08153631903677133,0.049317982128283304,0.11318840747735052,0.08286838501819503,0.13916433740886155,0.10066887855382795,0.1473609272382501,0.16497617383590416,0.0819089788783152,0.09828404908036381,0.11485980640986909,0.04874913363445125,0.07200747319379941,0.1134646759752031,0.08265495448475492,0.05378245010554721,0.11011699165902865,0.08116860365377804,0.13750937436042787,0.1017475981265168,0.14648492583395353,0.16503366529247926,0.08287959725837203,0.10398023527429019,0.11669878663959503,0.04665724760400763,0.07350403224802061,0.11418416632988283,0.08102219025779181,0.04966286478828281,0.11199767626463705,0.08289220472380317,0.13901437595658261,0.10093067657902256,0.14762901267019118,0.16524059747273262,0.08286871426926247,0.09973684264328671,0.116502877950748,0.0481484727382851,0.07299797314345019,0.11141991180130734,3.608053291294409,0.5144127979103412,3.5801246270605107,0.40379117408803583,878.9207400551999,0.0,0.4096980366630701,0.010127601376011696,0.12055394360260757,0.28253631534453894,0.006405454642784239,0.28396878095368977,0.06687874567617046,0.0,0.034176471697102626,0.0,0.0,0.0,0.0,0.0,0.0,0.039455889225331275,0.0,0.0,0.0,0.046372684559931696,0.04613235729771703,0.05403742351335902,0.11092355688638753,0.693305422913648,1.8388727350274967
min,"100,001.0",0.0,"26,941.5","45,000.0","2,295.0","45,000.0",0.0002529999999999,"-25,195.0","-17,463.0","-23,722.0","-6,348.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0134579104986917,8.09785587553435e-06,0.0005272652387098,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"-4,361.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,"188,557.75",0.0,"112,500.0","260,640.0","17,973.0","225,000.0",0.010006,"-19,637.0","-2,910.0","-7,459.25","-4,448.0",4.0,1.0,1.0,0.0,1.0,0.0,0.0,2.0,2.0,2.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.34369503902075416,0.4080661708688298,0.363945238612397,0.0619,0.0467,0.9767,0.6872,0.0081,0.0,0.0745,0.1667,0.1042,0.019,0.0504,0.048575,0.0,0.0,0.0588,0.0425,0.9762,0.6929,0.0076,0.0,0.069,0.1667,0.0833,0.016525,0.0551,0.0456,0.0,0.0,0.0625,0.04615,0.9767,0.6914,0.008,0.0,0.069,0.1667,0.0833,0.019,0.0513,0.049,0.0,0.0,0.0432,0.0,0.0,0.0,0.0,"-1,766.25",0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,"277,549.0",0.0,"157,500.0","450,000.0","26,199.0","396,000.0",0.01885,"-15,785.0","-1,293.0","-4,490.0","-3,234.0",9.0,1.0,1.0,0.0,1.0,0.0,0.0,2.0,2.0,2.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.5067712615026179,0.5587579430597367,0.5190973382084597,0.0928,0.0781,0.9816,0.7552,0.0227,0.0,0.1379,0.1667,0.2083,0.0483,0.0756,0.077,0.0,0.0038,0.0851,0.077,0.9816,0.7583,0.0203,0.0,0.1379,0.1667,0.2083,0.0462,0.0817,0.0751,0.0,0.0012,0.0926,0.0778,0.9816,0.7585,0.0223,0.0,0.1379,0.1667,0.2083,0.0488,0.077,0.0776,0.0,0.0031,0.0707,0.0,0.0,0.0,0.0,-863.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
75%,"367,555.5",1.0,"225,000.0","675,000.0","37,390.5","630,000.0",0.028663,"-12,496.0",-296.0,"-1,901.0","-1,706.0",15.0,1.0,1.0,0.0,1.0,1.0,0.0,3.0,2.0,2.0,14.0,0.0,0.0,0.0,0.0,0.0,0.0,0.6659559434807897,0.6584970137027254,0.6528965519806539,0.1485,0.1134,0.9866,0.8164,0.0539,0.16,0.2069,0.3333,0.375,0.0868,0.1269,0.1376,0.0051,0.029,0.1502,0.11355000000000001,0.9866,0.8236,0.0517,0.1208,0.2069,0.3333,0.375,0.0856,0.1322,0.1306,0.0039,0.0245,0.1499,0.113,0.9866,0.8189,0.0538,0.16,0.2069,0.3333,0.375,0.088,0.1266,0.137425,0.0039,0.028025,0.1357,2.0,0.0,2.0,0.0,-363.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0
max,"456,250.0",20.0,"4,410,000.0","2,245,500.0","180,576.0","2,245,500.0",0.072508,"-7,338.0","365,243.0",0.0,0.0,74.0,1.0,1.0,1.0,1.0,1.0,1.0,21.0,3.0,3.0,23.0,1.0,1.0,1.0,1.0,1.0,1.0,0.9391445326561508,0.8549996664047012,0.8825303127941461,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,354.0,34.0,351.0,24.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,2.0,2.0,6.0,7.0,17.0

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,TOTALAREA_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,"307,511.0","307,511.0","307,511.0","307,511.0","307,511.0","307,499.0","307,233.0","307,511.0","307,511.0","307,511.0","307,511.0","307,511.0","104,582.0","307,511.0","307,511.0","307,511.0","307,511.0","307,511.0","307,511.0","307,509.0","307,511.0","307,511.0","307,511.0","307,511.0","307,511.0","307,511.0","307,511.0","307,511.0","307,511.0","134,133.0","306,851.0","246,546.0","151,450.0","127,568.0","157,504.0","103,023.0","92,646.0","143,620.0","152,683.0","154,491.0","98,869.0","124,921.0","97,312.0","153,161.0","93,997.0","137,829.0","151,450.0","127,568.0","157,504.0","103,023.0","92,646.0","143,620.0","152,683.0","154,491.0","98,869.0","124,921.0","97,312.0","153,161.0","93,997.0","137,829.0","151,450.0","127,568.0","157,504.0","103,023.0","92,646.0","143,620.0","152,683.0","154,491.0","98,869.0","124,921.0","97,312.0","153,161.0","93,997.0","137,829.0","159,080.0","306,490.0","306,490.0","306,490.0","306,490.0","307,510.0","307,511.0","307,511.0","307,511.0","307,511.0","307,511.0","307,511.0","307,511.0","307,511.0","307,511.0","307,511.0","307,511.0","307,511.0","307,511.0","307,511.0","307,511.0","307,511.0","307,511.0","307,511.0","307,511.0","307,511.0","265,992.0","265,992.0","265,992.0","265,992.0","265,992.0","265,992.0"
mean,"278,180.51857657125",0.08072881945686496,0.4170517477423572,"168,797.9192969845","599,025.9997057016","27,108.573909183444","538,396.2074288895",0.020868112057780035,"-16,036.995066843137","63,815.04590404896","-4,986.120327538419","-2,994.2023732484367",12.061090818687727,0.9999967480838083,0.8198893698111612,0.1993684778755882,0.9981334001060125,0.28106636835755466,0.0567199222141647,2.152665450442101,2.0524631639193394,2.031520823645333,12.063418869568894,0.015144173704355291,0.05076891558350758,0.04065870814377372,0.07817281333025486,0.23045354475124466,0.17955455252007246,0.5021298056566625,0.5143926741308462,0.5108529061799658,0.11744049917464508,0.08844221905179982,0.9777348581623325,0.752471432592722,0.044620715411350736,0.07894151232418883,0.1497246700680495,0.22628190703665588,0.23189350049054813,0.06633318417239695,0.10077477495067412,0.10739901933259771,0.00880867261721119,0.02835775707579683,0.11423100693298119,0.08754321224758557,0.9770653729429093,0.7596373227337584,0.042553137750145714,0.074489736109177,0.14519265864569073,0.2223150474784939,0.22805849255074895,0.06495768445657654,0.10564485674942452,0.1059750504371217,0.00807638754428333,0.02702231968598771,0.11784992076592933,0.08795485466574691,0.9777522640694839,0.7557462721916463,0.04459510178529025,0.07807784431137725,0.1492127807286993,0.22589659009262678,0.23162493804933798,0.0671687490493992,0.10195447324071032,0.10860673604899417,0.008651013330212667,0.028235920597261824,0.10254666268544127,1.4222454239942575,0.1434206662533851,1.4052921791901856,0.10004894123788705,-962.8587883320868,4.2274910491006824e-05,0.7100233812774177,8.129790479039775e-05,0.015114906458630749,0.0880553866365756,0.00019186305530533867,0.08137595077899652,0.00389579559755586,2.276341334131137e-05,0.003912055178513939,6.503832383231819e-06,0.003525077151711646,0.0029364803210291664,0.0012097128232811183,0.009928100133003373,0.0002666571277125046,0.008129790479039774,0.0005951006630657115,0.0005072989258920819,0.0003349473677364387,0.006402448193930645,0.0070002105326475985,0.0343619356973142,0.26739526000781977,0.26547414959848414,1.899974435321363
std,"102,790.17534842459",0.27241864564839396,0.7221213844376252,"237,123.14627885626","402,490.77699585486","14,493.737315118333","369,446.46054005757",0.013831280122704704,"4,363.98863178556","141,275.76651872724","3,522.8863209630713","1,509.4504190030234",11.944811582242762,0.001803307015351493,0.3842801989387643,0.3995262281502265,0.04316389414243237,0.44952054685675835,0.2313070397227076,0.9106815691792972,0.50903390281568,0.5027370329147687,3.2658322554378705,0.12212647628215202,0.21952582879696064,0.19749861882842365,0.26844377237340455,0.42112383591389724,0.38381661538559575,0.21106224927392492,0.19106015498493653,0.19484436446374884,0.10824029130032231,0.08243815873568511,0.059223314358362825,0.11327992663224716,0.07603574505040936,0.13457600110034418,0.10004912076035906,0.14464069954800401,0.1613802888001374,0.0811836407017936,0.0925761339604974,0.11056452318371335,0.047731662050347935,0.06952318332123605,0.10793603908753288,0.08430717486924558,0.06457543708048016,0.11011102734194826,0.07444452253839154,0.1322561441505065,0.10097698816024665,0.14370940659531573,0.16115977149547597,0.08175027780843545,0.09788044657879372,0.1118452658778338,0.04627626621983564,0.07025385904394456,0.10907590600115313,0.08217874951463418,0.05989731850511965,0.11206630964404386,0.07614426224091464,0.13446714769067492,0.10036839449763228,0.1450670259193514,0.16193354145715616,0.08216701028007205,0.09364233271153832,0.1122602586753476,0.04741472790780269,0.07016648150682482,0.10746232414961877,2.4009887461090083,0.4466984293815287,2.37980335197938,0.3622908039755738,826.8084870406566,0.006501789045489791,0.4537519684327393,0.009016183216550894,0.12201022281354128,0.28337589286298986,0.013850157677017421,0.273412048944513,0.06229471080039368,0.004771055354069212,0.06242406326684518,0.0025502570915978662,0.05926771807375309,0.054109767376428794,0.034759938827692606,0.09914416233784908,0.016327488741596615,0.08979823610939557,0.024387465065862257,0.02251762026844613,0.01829853182243764,0.08384912844747724,0.1107574063243545,0.20468487581282446,0.9160023961526175,0.7940556483207578,1.869294998181557
min,"100,002.0",0.0,0.0,"25,650.0","45,000.0","1,615.5","40,500.0",0.00029,"-25,229.0","-17,912.0","-24,672.0","-7,197.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0145681324124455,8.173616518884397e-08,0.0005272652387098,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"-4,292.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,"189,145.5",0.0,0.0,"112,500.0","270,000.0","16,524.0","238,500.0",0.010006,"-19,682.0","-2,760.0","-7,479.5","-4,299.0",5.0,1.0,1.0,0.0,1.0,0.0,0.0,2.0,2.0,2.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.3340072886740926,0.3924574161782719,0.3706496323299817,0.0577,0.0442,0.9767,0.6872,0.0078,0.0,0.069,0.1667,0.0833,0.0187,0.0504,0.0453,0.0,0.0,0.0525,0.0407,0.9767,0.6994,0.0072,0.0,0.069,0.1667,0.0833,0.0166,0.0542,0.0427,0.0,0.0,0.0583,0.0437,0.9767,0.6914,0.0079,0.0,0.069,0.1667,0.0833,0.0187,0.0513,0.0457,0.0,0.0,0.0412,0.0,0.0,0.0,0.0,"-1,570.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,"278,202.0",0.0,0.0,"147,150.0","513,531.0","24,903.0","450,000.0",0.01885,"-15,750.0","-1,213.0","-4,504.0","-3,254.0",9.0,1.0,1.0,0.0,1.0,0.0,0.0,2.0,2.0,2.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.5059979305057544,0.5659614260608526,0.5352762504724826,0.0876,0.0763,0.9816,0.7552,0.0211,0.0,0.1379,0.1667,0.2083,0.0481,0.0756,0.0745,0.0,0.0036,0.084,0.0746,0.9816,0.7648,0.019,0.0,0.1379,0.1667,0.2083,0.0458,0.0771,0.0731,0.0,0.0011,0.0864,0.0758,0.9816,0.7585,0.0208,0.0,0.1379,0.1667,0.2083,0.0487,0.0761,0.0749,0.0,0.0031,0.0688,0.0,0.0,0.0,0.0,-757.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
75%,"367,142.5",0.0,1.0,"202,500.0","808,650.0","34,596.0","679,500.0",0.028663,"-12,413.0",-289.0,"-2,010.0","-1,720.0",15.0,1.0,1.0,0.0,1.0,1.0,0.0,3.0,2.0,2.0,14.0,0.0,0.0,0.0,0.0,0.0,0.0,0.6750525982300696,0.6636170897493769,0.6690566947824041,0.1485,0.1122,0.9866,0.8232,0.0515,0.12,0.2069,0.3333,0.375,0.0856,0.121,0.1299,0.0039,0.0277,0.1439,0.1124,0.9866,0.8236,0.049,0.1208,0.2069,0.3333,0.375,0.0841,0.1313,0.1252,0.0039,0.0231,0.1489,0.1116,0.9866,0.8256,0.0513,0.12,0.2069,0.3333,0.375,0.0868,0.1231,0.1303,0.0039,0.0266,0.1276,2.0,0.0,2.0,0.0,-274.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
max,"456,255.0",1.0,19.0,"117,000,000.0","4,050,000.0","258,025.5","4,050,000.0",0.072508,"-7,489.0","365,243.0",0.0,0.0,91.0,1.0,1.0,1.0,1.0,1.0,1.0,20.0,3.0,3.0,23.0,1.0,1.0,1.0,1.0,1.0,1.0,0.962692770561306,0.8549996664047012,0.8960095494948396,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,348.0,34.0,344.0,24.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,4.0,9.0,8.0,27.0,261.0,25.0

## Handling Missing Value

### OWN CAR AGE
Merubah nilai FLAG OWN CAR dan fillna OWN CAR AGE menjadi 0

#### Apptrain

In [8]:
apptrain.loc[(apptrain['FLAG_OWN_CAR'] == 'Y') & pd.isna(apptrain['OWN_CAR_AGE']), 'FLAG_OWN_CAR'] = 'N'

In [9]:
apptrain.FLAG_OWN_CAR.value_counts()
apptrain.OWN_CAR_AGE.isna().sum()

FLAG_OWN_CAR
N    32312
Y    16432
Name: count, dtype: int64

32312

In [10]:
apptrain[(apptrain['FLAG_OWN_CAR'] == 'N') & pd.isna(apptrain['OWN_CAR_AGE'])].shape
apptrain[(apptrain['FLAG_OWN_CAR'] == 'Y') & pd.isna(apptrain['OWN_CAR_AGE'])].shape

(32312, 121)

(0, 121)

In [11]:
apptrain.loc[(apptrain['FLAG_OWN_CAR'] == 'N') & pd.isna(apptrain['OWN_CAR_AGE']), 'OWN_CAR_AGE'] = 0

In [12]:
apptrain.FLAG_OWN_CAR.value_counts()
apptrain.OWN_CAR_AGE.isna().sum()

FLAG_OWN_CAR
N    32312
Y    16432
Name: count, dtype: int64

0

#### Apptest

In [13]:
apptest.FLAG_OWN_CAR.value_counts()
apptest.OWN_CAR_AGE.isna().sum()

FLAG_OWN_CAR
N    202924
Y    104587
Name: count, dtype: int64

202929

In [14]:
apptest[(apptest['FLAG_OWN_CAR'] == 'Y') & pd.isna(apptest['OWN_CAR_AGE'])].shape

(5, 122)

In [15]:
apptest.loc[(apptest['FLAG_OWN_CAR'] == 'Y') & pd.isna(apptest['OWN_CAR_AGE']), 'FLAG_OWN_CAR'] = 'N'

In [16]:
apptest.loc[(apptest['FLAG_OWN_CAR'] == 'N') & pd.isna(apptest['OWN_CAR_AGE']), 'OWN_CAR_AGE'] = 0

In [17]:
apptest.FLAG_OWN_CAR.value_counts()
apptest.OWN_CAR_AGE.isna().sum()

FLAG_OWN_CAR
N    202929
Y    104582
Name: count, dtype: int64

0

### AMT REQ

dipilih mode, karena kolom hanya memiliki nilai 0 sebagai yang sering muncul pada semua kolomnya

In [18]:
apptrain['AMT_REQ_CREDIT_BUREAU_HOUR'].fillna(apptrain['AMT_REQ_CREDIT_BUREAU_HOUR'].median(), inplace=True)
apptrain['AMT_REQ_CREDIT_BUREAU_DAY'].fillna(apptrain['AMT_REQ_CREDIT_BUREAU_DAY'].median(), inplace=True)
apptrain['AMT_REQ_CREDIT_BUREAU_WEEK'].fillna(apptrain['AMT_REQ_CREDIT_BUREAU_WEEK'].median(), inplace=True)
apptrain['AMT_REQ_CREDIT_BUREAU_MON'].fillna(apptrain['AMT_REQ_CREDIT_BUREAU_MON'].median(), inplace=True)
apptrain['AMT_REQ_CREDIT_BUREAU_QRT'].fillna(apptrain['AMT_REQ_CREDIT_BUREAU_QRT'].median(), inplace=True)
apptrain['AMT_REQ_CREDIT_BUREAU_YEAR'].fillna(apptrain['AMT_REQ_CREDIT_BUREAU_YEAR'].median(), inplace=True)

apptest['AMT_REQ_CREDIT_BUREAU_HOUR'].fillna(apptest['AMT_REQ_CREDIT_BUREAU_HOUR'].median(), inplace=True)
apptest['AMT_REQ_CREDIT_BUREAU_DAY'].fillna(apptest['AMT_REQ_CREDIT_BUREAU_DAY'].median(), inplace=True)
apptest['AMT_REQ_CREDIT_BUREAU_WEEK'].fillna(apptest['AMT_REQ_CREDIT_BUREAU_WEEK'].median(), inplace=True)
apptest['AMT_REQ_CREDIT_BUREAU_MON'].fillna(apptest['AMT_REQ_CREDIT_BUREAU_MON'].median(), inplace=True)
apptest['AMT_REQ_CREDIT_BUREAU_QRT'].fillna(apptest['AMT_REQ_CREDIT_BUREAU_QRT'].median(), inplace=True)
apptest['AMT_REQ_CREDIT_BUREAU_YEAR'].fillna(apptest['AMT_REQ_CREDIT_BUREAU_YEAR'].median(), inplace=True)

### EXT SOURCE

dipilih median, karena angka Mode dan Median sama.

In [19]:
apptrain['EXT_SOURCE_1'].fillna(apptrain['EXT_SOURCE_1'].median(), inplace=True)
apptrain['EXT_SOURCE_2'].fillna(apptrain['EXT_SOURCE_2'].median(), inplace=True)
apptrain['EXT_SOURCE_3'].fillna(apptrain['EXT_SOURCE_3'].median(), inplace=True)

apptest['EXT_SOURCE_1'].fillna(apptest['EXT_SOURCE_1'].median(), inplace=True)
apptest['EXT_SOURCE_2'].fillna(apptest['EXT_SOURCE_2'].median(), inplace=True)
apptest['EXT_SOURCE_3'].fillna(apptest['EXT_SOURCE_3'].median(), inplace=True)

### PERSONAL BELONGING

karena datanya object, maka dicari yang paling banyak, yaitu menggunakan Mode

In [20]:
apptrain['OCCUPATION_TYPE'].fillna(apptrain['OCCUPATION_TYPE'].mode()[0], inplace=True)
apptrain['NAME_TYPE_SUITE'].fillna(apptrain['NAME_TYPE_SUITE'].mode()[0], inplace=True)
apptrain['AMT_ANNUITY'].fillna(apptrain['AMT_ANNUITY'].mode()[0], inplace=True)

apptest['OCCUPATION_TYPE'].fillna(apptest['OCCUPATION_TYPE'].mode()[0], inplace=True)
apptest['NAME_TYPE_SUITE'].fillna(apptest['NAME_TYPE_SUITE'].mode()[0], inplace=True)
apptest['AMT_ANNUITY'].fillna(apptest['AMT_ANNUITY'].mode()[0], inplace=True)

### CNT SOCIAL CIRCLE

dipilih median karena nilai Mode dan Median sama.

In [21]:
apptrain['OBS_30_CNT_SOCIAL_CIRCLE'].fillna(apptrain['OBS_30_CNT_SOCIAL_CIRCLE'].median(), inplace=True)
apptrain['DEF_30_CNT_SOCIAL_CIRCLE'].fillna(apptrain['DEF_30_CNT_SOCIAL_CIRCLE'].median(), inplace=True)
apptrain['OBS_60_CNT_SOCIAL_CIRCLE'].fillna(apptrain['OBS_60_CNT_SOCIAL_CIRCLE'].median(), inplace=True)
apptrain['DEF_60_CNT_SOCIAL_CIRCLE'].fillna(apptrain['DEF_60_CNT_SOCIAL_CIRCLE'].median(), inplace=True)

apptest['OBS_30_CNT_SOCIAL_CIRCLE'].fillna(apptest['OBS_30_CNT_SOCIAL_CIRCLE'].median(), inplace=True)
apptest['DEF_30_CNT_SOCIAL_CIRCLE'].fillna(apptest['DEF_30_CNT_SOCIAL_CIRCLE'].median(), inplace=True)
apptest['OBS_60_CNT_SOCIAL_CIRCLE'].fillna(apptest['OBS_60_CNT_SOCIAL_CIRCLE'].median(), inplace=True)
apptest['DEF_60_CNT_SOCIAL_CIRCLE'].fillna(apptest['DEF_60_CNT_SOCIAL_CIRCLE'].median(), inplace=True)

### Apptest DAYS_LAST_PHONE_CHANGE

In [22]:
apptest = apptest.dropna(subset=['AMT_GOODS_PRICE', 'CNT_FAM_MEMBERS','DAYS_LAST_PHONE_CHANGE'])

## Dropping Columns Missing Value more than 20%

In [23]:
apptest.columns.tolist()

['SK_ID_CURR',
 'TARGET',
 'NAME_CONTRACT_TYPE',
 'CODE_GENDER',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'CNT_CHILDREN',
 'AMT_INCOME_TOTAL',
 'AMT_CREDIT',
 'AMT_ANNUITY',
 'AMT_GOODS_PRICE',
 'NAME_TYPE_SUITE',
 'NAME_INCOME_TYPE',
 'NAME_EDUCATION_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 'REGION_POPULATION_RELATIVE',
 'DAYS_BIRTH',
 'DAYS_EMPLOYED',
 'DAYS_REGISTRATION',
 'DAYS_ID_PUBLISH',
 'OWN_CAR_AGE',
 'FLAG_MOBIL',
 'FLAG_EMP_PHONE',
 'FLAG_WORK_PHONE',
 'FLAG_CONT_MOBILE',
 'FLAG_PHONE',
 'FLAG_EMAIL',
 'OCCUPATION_TYPE',
 'CNT_FAM_MEMBERS',
 'REGION_RATING_CLIENT',
 'REGION_RATING_CLIENT_W_CITY',
 'WEEKDAY_APPR_PROCESS_START',
 'HOUR_APPR_PROCESS_START',
 'REG_REGION_NOT_LIVE_REGION',
 'REG_REGION_NOT_WORK_REGION',
 'LIVE_REGION_NOT_WORK_REGION',
 'REG_CITY_NOT_LIVE_CITY',
 'REG_CITY_NOT_WORK_CITY',
 'LIVE_CITY_NOT_WORK_CITY',
 'ORGANIZATION_TYPE',
 'EXT_SOURCE_1',
 'EXT_SOURCE_2',
 'EXT_SOURCE_3',
 'APARTMENTS_AVG',
 'BASEMENTAREA_AVG',
 'YEARS_BEGINEXPLUATATION_AVG',
 'YEARS_BUILD_AVG',
 'COMMONAREA_AVG',
 'ELEVATORS_AVG',
 'ENTRANCES_AVG',
 'FLOORSMAX_AVG',
 'FLOORSMIN_AVG',
 'LANDAREA_AVG',
 'LIVINGAPARTMENTS_AVG',
 'LIVINGAREA_AVG',
 'NONLIVINGAPARTMENTS_AVG',
 'NONLIVINGAREA_AVG',
 'APARTMENTS_MODE',
 'BASEMENTAREA_MODE',
 'YEARS_BEGINEXPLUATATION_MODE',
 'YEARS_BUILD_MODE',
 'COMMONAREA_MODE',
 'ELEVATORS_MODE',
 'ENTRANCES_MODE',
 'FLOORSMAX_MODE',
 'FLOORSMIN_MODE',
 'LANDAREA_MODE',
 'LIVINGAPARTMENTS_MODE',
 'LIVINGAREA_MODE',
 'NONLIVINGAPARTMENTS_MODE',
 'NONLIVINGAREA_MODE',
 'APARTMENTS_MEDI',
 'BASEMENTAREA_MEDI',
 'YEARS_BEGINEXPLUATATION_MEDI',
 'YEARS_BUILD_MEDI',
 'COMMONAREA_MEDI',
 'ELEVATORS_MEDI',
 'ENTRANCES_MEDI',
 'FLOORSMAX_MEDI',
 'FLOORSMIN_MEDI',
 'LANDAREA_MEDI',
 'LIVINGAPARTMENTS_MEDI',
 'LIVINGAREA_MEDI',
 'NONLIVINGAPARTMENTS_MEDI',
 'NONLIVINGAREA_MEDI',
 'FONDKAPREMONT_MODE',
 'HOUSETYPE_MODE',
 'TOTALAREA_MODE',
 'WALLSMATERIAL_MODE',
 'EMERGENCYSTATE_MODE',
 'OBS_30_CNT_SOCIAL_CIRCLE',
 'DEF_30_CNT_SOCIAL_CIRCLE',
 'OBS_60_CNT_SOCIAL_CIRCLE',
 'DEF_60_CNT_SOCIAL_CIRCLE',
 'DAYS_LAST_PHONE_CHANGE',
 'FLAG_DOCUMENT_2',
 'FLAG_DOCUMENT_3',
 'FLAG_DOCUMENT_4',
 'FLAG_DOCUMENT_5',
 'FLAG_DOCUMENT_6',
 'FLAG_DOCUMENT_7',
 'FLAG_DOCUMENT_8',
 'FLAG_DOCUMENT_9',
 'FLAG_DOCUMENT_10',
 'FLAG_DOCUMENT_11',
 'FLAG_DOCUMENT_12',
 'FLAG_DOCUMENT_13',
 'FLAG_DOCUMENT_14',
 'FLAG_DOCUMENT_15',
 'FLAG_DOCUMENT_16',
 'FLAG_DOCUMENT_17',
 'FLAG_DOCUMENT_18',
 'FLAG_DOCUMENT_19',
 'FLAG_DOCUMENT_20',
 'FLAG_DOCUMENT_21',
 'AMT_REQ_CREDIT_BUREAU_HOUR',
 'AMT_REQ_CREDIT_BUREAU_DAY',
 'AMT_REQ_CREDIT_BUREAU_WEEK',
 'AMT_REQ_CREDIT_BUREAU_MON',
 'AMT_REQ_CREDIT_BUREAU_QRT',
 'AMT_REQ_CREDIT_BUREAU_YEAR']

In [24]:
excluded = ['APARTMENTS_AVG',
         'BASEMENTAREA_AVG',
         'YEARS_BEGINEXPLUATATION_AVG',
         'YEARS_BUILD_AVG',
         'COMMONAREA_AVG',
         'ELEVATORS_AVG',
         'ENTRANCES_AVG',
         'FLOORSMAX_AVG',
         'FLOORSMIN_AVG',
         'LANDAREA_AVG',
         'LIVINGAPARTMENTS_AVG',
         'LIVINGAREA_AVG',
         'NONLIVINGAPARTMENTS_AVG',
         'NONLIVINGAREA_AVG',
         'APARTMENTS_MODE',
         'BASEMENTAREA_MODE',
         'YEARS_BEGINEXPLUATATION_MODE',
         'YEARS_BUILD_MODE',
         'COMMONAREA_MODE',
         'ELEVATORS_MODE',
         'ENTRANCES_MODE',
         'FLOORSMAX_MODE',
         'FLOORSMIN_MODE',
         'LANDAREA_MODE',
         'LIVINGAPARTMENTS_MODE',
         'LIVINGAREA_MODE',
         'NONLIVINGAPARTMENTS_MODE',
         'NONLIVINGAREA_MODE',
         'APARTMENTS_MEDI',
         'BASEMENTAREA_MEDI',
         'YEARS_BEGINEXPLUATATION_MEDI',
         'YEARS_BUILD_MEDI',
         'COMMONAREA_MEDI',
         'ELEVATORS_MEDI',
         'ENTRANCES_MEDI',
         'FLOORSMAX_MEDI',
         'FLOORSMIN_MEDI',
         'LANDAREA_MEDI',
         'LIVINGAPARTMENTS_MEDI',
         'LIVINGAREA_MEDI',
         'NONLIVINGAPARTMENTS_MEDI',
         'NONLIVINGAREA_MEDI',
         'FONDKAPREMONT_MODE',
         'HOUSETYPE_MODE',
         'TOTALAREA_MODE',
         'WALLSMATERIAL_MODE',
         'EMERGENCYSTATE_MODE',
         'FLAG_DOCUMENT_2',
         'FLAG_DOCUMENT_10',
         'FLAG_DOCUMENT_12',
         'FLAG_DOCUMENT_13',
         'FLAG_DOCUMENT_14',
         'FLAG_DOCUMENT_15',
         'FLAG_DOCUMENT_16',
         'FLAG_DOCUMENT_17',
         'FLAG_DOCUMENT_19',
         'FLAG_DOCUMENT_20',
         'FLAG_DOCUMENT_21',
            
           ]

### Excluding Apptrain & Apptest

In [25]:
apptrain_clean = apptrain.drop(excluded, axis=1)
apptest_clean  = apptest.drop(excluded, axis=1)

In [26]:
len(excluded)

58

## After Handling Missing Value

In [27]:
summary(apptrain_clean)

In [28]:
apptest_clean.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'NAME_TYPE_SUITE',
       'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS',
       'NAME_HOUSING_TYPE', 'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH',
       'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'OWN_CAR_AGE',
       'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE',
       'FLAG_PHONE', 'FLAG_EMAIL', 'OCCUPATION_TYPE', 'CNT_FAM_MEMBERS',
       'REGION_RATING_CLIENT', 'REGION_RATING_CLIENT_W_CITY',
       'WEEKDAY_APPR_PROCESS_START', 'HOUR_APPR_PROCESS_START',
       'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION',
       'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY',
       'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY',
       'ORGANIZATION_TYPE', 'EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3',
       'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE',
       'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE',
       'DAYS_LAST_PHONE_CHANGE', 'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4',
       'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7',
       'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_11',
       'FLAG_DOCUMENT_18', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object')

apptest_clean.FLAG_MOBIL.unique()
apptest_clean.drop('FLAG_MOBIL', axis=1, inplace=True)

In [29]:
summary(apptest_clean)

## Feature Engineering Age, Duration

In [30]:
apptrain_clean.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_11,FLAG_DOCUMENT_18,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100001,Cash loans,F,N,Y,0,"135,000.0","568,800.0","20,560.5","450,000.0",Unaccompanied,Working,Higher education,Married,House / apartment,0.01885,-19241,-2329,"-5,170.0",-812,0.0,1,1,0,1,0,1,Laborers,2.0,2,2,TUESDAY,18,0,0,0,0,0,0,Kindergarten,0.7526144906031748,0.7896543511176771,0.1595195404777181,0.0,0.0,0.0,0.0,"-1,740.0",1,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005,Cash loans,M,N,Y,0,"99,000.0","222,768.0","17,370.0","180,000.0",Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.035792,-18064,-4469,"-9,118.0",-1623,0.0,1,1,0,1,0,0,Low-skill Laborers,2.0,2,2,FRIDAY,9,0,0,0,0,0,0,Self-employed,0.5649902017969249,0.2916555320093651,0.4329616670974407,0.0,0.0,0.0,0.0,0.0,1,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
2,100013,Cash loans,M,Y,Y,0,"202,500.0","663,264.0","69,777.0","630,000.0",Unaccompanied,Working,Higher education,Married,House / apartment,0.019101,-20038,-4458,"-2,175.0",-3503,5.0,1,1,0,1,0,0,Drivers,2.0,2,2,MONDAY,14,0,0,0,0,0,0,Transport: type 3,0.5067712615026179,0.6997868302051784,0.6109913280868294,0.0,0.0,0.0,0.0,-856.0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
3,100028,Cash loans,F,N,Y,2,"315,000.0","1,575,000.0","49,018.5","1,575,000.0",Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.026392,-13976,-1866,"-2,000.0",-4208,0.0,1,1,0,1,1,0,Sales staff,4.0,2,2,WEDNESDAY,11,0,0,0,0,0,0,Business Entity Type 3,0.5257339776824489,0.5096770801723647,0.6127042441012546,0.0,0.0,0.0,0.0,"-1,805.0",1,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
4,100038,Cash loans,M,Y,N,1,"180,000.0","625,500.0","32,067.0","625,500.0",Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.010032,-13040,-2191,"-4,000.0",-4262,16.0,1,1,1,1,0,0,Laborers,3.0,2,2,FRIDAY,5,0,0,0,0,1,1,Business Entity Type 3,0.202144992067999,0.4256872940912229,0.5190973382084597,0.0,0.0,0.0,0.0,-821.0,1,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0

In [31]:
apptrain_clean[['DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH','DAYS_LAST_PHONE_CHANGE']].describe().round()

,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,DAYS_LAST_PHONE_CHANGE
count,"48,744.0","48,744.0","48,744.0","48,744.0","48,744.0"
mean,"-16,068.0","67,485.0","-4,968.0","-3,052.0","-1,078.0"
std,"4,326.0","144,349.0","3,553.0","1,569.0",879.0
min,"-25,195.0","-17,463.0","-23,722.0","-6,348.0","-4,361.0"
25%,"-19,637.0","-2,910.0","-7,459.0","-4,448.0","-1,766.0"
50%,"-15,785.0","-1,293.0","-4,490.0","-3,234.0",-863.0
75%,"-12,496.0",-296.0,"-1,901.0","-1,706.0",-363.0
max,"-7,338.0","365,243.0",0.0,0.0,0.0

In [32]:
# Convert Negatives Value into Positives

columns_to_convert = ['DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH','DAYS_LAST_PHONE_CHANGE']

apptrain_clean[columns_to_convert] = apptrain_clean[columns_to_convert].abs()
apptest_clean[columns_to_convert]  = apptest_clean[columns_to_convert].abs()

apptrain_clean[columns_to_convert].describe().round()

,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,DAYS_LAST_PHONE_CHANGE
count,"48,744.0","48,744.0","48,744.0","48,744.0","48,744.0"
mean,"16,068.0","71,496.0","4,968.0","3,052.0","1,078.0"
std,"4,326.0","142,404.0","3,553.0","1,569.0",879.0
min,"7,338.0",1.0,0.0,0.0,0.0
25%,"12,496.0","1,048.0","1,901.0","1,706.0",363.0
50%,"15,785.0","2,432.0","4,490.0","3,234.0",863.0
75%,"19,637.0","6,167.0","7,459.0","4,448.0","1,766.0"
max,"25,195.0","365,243.0","23,722.0","6,348.0","4,361.0"

In [33]:
apptrain_clean.head()
apptest_clean.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_11,FLAG_DOCUMENT_18,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100001,Cash loans,F,N,Y,0,"135,000.0","568,800.0","20,560.5","450,000.0",Unaccompanied,Working,Higher education,Married,House / apartment,0.01885,19241,2329,"5,170.0",812,0.0,1,1,0,1,0,1,Laborers,2.0,2,2,TUESDAY,18,0,0,0,0,0,0,Kindergarten,0.7526144906031748,0.7896543511176771,0.1595195404777181,0.0,0.0,0.0,0.0,"1,740.0",1,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005,Cash loans,M,N,Y,0,"99,000.0","222,768.0","17,370.0","180,000.0",Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.035792,18064,4469,"9,118.0",1623,0.0,1,1,0,1,0,0,Low-skill Laborers,2.0,2,2,FRIDAY,9,0,0,0,0,0,0,Self-employed,0.5649902017969249,0.2916555320093651,0.4329616670974407,0.0,0.0,0.0,0.0,0.0,1,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
2,100013,Cash loans,M,Y,Y,0,"202,500.0","663,264.0","69,777.0","630,000.0",Unaccompanied,Working,Higher education,Married,House / apartment,0.019101,20038,4458,"2,175.0",3503,5.0,1,1,0,1,0,0,Drivers,2.0,2,2,MONDAY,14,0,0,0,0,0,0,Transport: type 3,0.5067712615026179,0.6997868302051784,0.6109913280868294,0.0,0.0,0.0,0.0,856.0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
3,100028,Cash loans,F,N,Y,2,"315,000.0","1,575,000.0","49,018.5","1,575,000.0",Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.026392,13976,1866,"2,000.0",4208,0.0,1,1,0,1,1,0,Sales staff,4.0,2,2,WEDNESDAY,11,0,0,0,0,0,0,Business Entity Type 3,0.5257339776824489,0.5096770801723647,0.6127042441012546,0.0,0.0,0.0,0.0,"1,805.0",1,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
4,100038,Cash loans,M,Y,N,1,"180,000.0","625,500.0","32,067.0","625,500.0",Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.010032,13040,2191,"4,000.0",4262,16.0,1,1,1,1,0,0,Laborers,3.0,2,2,FRIDAY,5,0,0,0,0,1,1,Business Entity Type 3,0.202144992067999,0.4256872940912229,0.5190973382084597,0.0,0.0,0.0,0.0,821.0,1,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_11,FLAG_DOCUMENT_18,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,"202,500.0","406,597.5","24,700.5","351,000.0",Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,9461,637,"3,648.0",2120,0.0,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.0830369673913225,0.2629485927471776,0.1393757800997895,2.0,2.0,2.0,2.0,"1,134.0",1,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,"270,000.0","1,293,502.5","35,698.5","1,129,500.0",Family,State servant,Higher education,Married,House / apartment,0.0035409999999999,16765,1188,"1,186.0",291,0.0,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.3112673113812225,0.6222457752555098,0.5352762504724826,1.0,0.0,1.0,0.0,828.0,1,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,"67,500.0","135,000.0","6,750.0","135,000.0",Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,19046,225,"4,260.0",2531,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,0.5059979305057544,0.5559120833904428,0.7295666907060153,0.0,0.0,0.0,0.0,815.0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,"135,000.0","312,682.5","29,686.5","297,000.0",Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,19005,3039,"9,833.0",2437,0.0,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,0.5059979305057544,0.6504416904014653,0.5352762504724826,2.0,0.0,2.0,0.0,617.0,1,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
4,100007,0,Cash loans,M,N,Y,0,"121,500.0","513,000.0","21,865.5","513,000.0",Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,19932,3038,"4,311.0",3458,0.0,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,0.5059979305057544,0.3227382869704046,0.5352762504724826,0.0,0.0,0.0,0.0,"1,106.0",0,0,0,0,0,1,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [34]:
# ['DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH','DAYS_LAST_PHONE_CHANGE']

apptrain_clean['AGE']                   = apptrain_clean['DAYS_BIRTH'] // 365
apptrain_clean['YEAR_EMPLOYMENT']       = apptrain_clean['DAYS_EMPLOYED'] // 365
apptrain_clean['YEAR_REGISTRATION']     = apptrain_clean['DAYS_REGISTRATION'] // 365
apptrain_clean['YEAR_ID_PUBLISH']       = apptrain_clean['DAYS_ID_PUBLISH'] // 365
apptrain_clean['YEAR_LAST_PHONE_CHANGE']= apptrain_clean['DAYS_LAST_PHONE_CHANGE'] // 365

apptest_clean['AGE']                   = apptest_clean['DAYS_BIRTH'] // 365
apptest_clean['YEAR_EMPLOYMENT']       = apptest_clean['DAYS_EMPLOYED'] // 365
apptest_clean['YEAR_REGISTRATION']     = apptest_clean['DAYS_REGISTRATION'] // 365
apptest_clean['YEAR_ID_PUBLISH']       = apptest_clean['DAYS_ID_PUBLISH'] // 365
apptest_clean['YEAR_LAST_PHONE_CHANGE']= apptest_clean['DAYS_LAST_PHONE_CHANGE'] // 365

In [35]:
apptrain_clean[['AGE']].describe().round(2)
apptest_clean[['AGE']].describe().round(2)

           AGE
count 48,744.0
mean     43.53
std      11.85
min       20.0
25%       34.0
50%       43.0
75%       53.0
max       69.0

            AGE
count 307,232.0
mean      43.44
std       11.95
min        20.0
25%        34.0
50%        43.0
75%        53.0
max        69.0

In [36]:
# Age Category

conditions = [
    (apptrain_clean['AGE'] >= 20) & (apptrain_clean['AGE'] <= 29),
    (apptrain_clean['AGE'] >= 30) & (apptrain_clean['AGE'] <= 39),
    (apptrain_clean['AGE'] >= 40) & (apptrain_clean['AGE'] <= 49),
    (apptrain_clean['AGE'] >= 50) & (apptrain_clean['AGE'] <= 59),
    (apptrain_clean['AGE'] >= 60)
]

categories = ['TWENTIES', 'THIRTIES', 'FOURTIES', 'FIFTIES', 'SIXTIES & ABOVE']

apptrain_clean['AGE_CAT'] = np.select(conditions, categories, default='UNKNOWN')


# Age Category

conditions = [
    (apptest_clean['AGE'] >= 20) & (apptest_clean['AGE'] <= 29),
    (apptest_clean['AGE'] >= 30) & (apptest_clean['AGE'] <= 39),
    (apptest_clean['AGE'] >= 40) & (apptest_clean['AGE'] <= 49),
    (apptest_clean['AGE'] >= 50) & (apptest_clean['AGE'] <= 59),
    (apptest_clean['AGE'] >= 60)
]

categories = ['TWENTIES', 'THIRTIES', 'FOURTIES', 'FIFTIES', 'SIXTIES & ABOVE']

apptest_clean['AGE_CAT'] = np.select(conditions, categories, default='UNKNOWN')

## Feature Engineering AMT

In [37]:
apptrain_clean[['AMT_INCOME_TOTAL', 'AMT_CREDIT','AMT_ANNUITY','AMT_GOODS_PRICE']].describe().round(2)
apptest_clean[['AMT_INCOME_TOTAL', 'AMT_CREDIT','AMT_ANNUITY','AMT_GOODS_PRICE']].describe().round(2)

       AMT_INCOME_TOTAL  AMT_CREDIT  AMT_ANNUITY  AMT_GOODS_PRICE
count          48,744.0    48,744.0     48,744.0         48,744.0
mean         178,431.81  516,740.44    29,425.37       462,618.84
std          101,522.59   365,397.0    16,012.47       336,710.22
min            26,941.5    45,000.0      2,295.0         45,000.0
25%           112,500.0   260,640.0     17,973.0        225,000.0
50%           157,500.0   450,000.0     26,221.5        396,000.0
75%           225,000.0   675,000.0     37,390.5        630,000.0
max         4,410,000.0 2,245,500.0    180,576.0      2,245,500.0

       AMT_INCOME_TOTAL  AMT_CREDIT  AMT_ANNUITY  AMT_GOODS_PRICE
count         307,232.0   307,232.0    307,232.0        307,232.0
mean         168,833.38  599,316.05    27,119.75       538,397.14
std          237,216.07  402,517.95    14,492.29        369,446.7
min            25,650.0    45,000.0      1,615.5         40,500.0
25%           112,500.0   270,000.0     16,551.0        238,500.0
50%           148,500.0   514,602.0     24,916.5        450,000.0
75%           202,500.0   808,650.0     34,596.0        679,500.0
max       117,000,000.0 4,050,000.0    258,025.5      4,050,000.0

In [38]:
conditions = [
    (apptrain_clean['AMT_INCOME_TOTAL'] >= 25000)  & (apptrain_clean['AMT_INCOME_TOTAL'] <= 50000),
    (apptrain_clean['AMT_INCOME_TOTAL'] >= 50000) & (apptrain_clean['AMT_INCOME_TOTAL'] <= 100000),
    (apptrain_clean['AMT_INCOME_TOTAL'] >= 100000) & (apptrain_clean['AMT_INCOME_TOTAL'] <= 150000),
    (apptrain_clean['AMT_INCOME_TOTAL'] >= 150000) & (apptrain_clean['AMT_INCOME_TOTAL'] <= 250000),
    (apptrain_clean['AMT_INCOME_TOTAL'] >= 250000)
]

categories = ['LOW INCOME', 'LOW MID INCOME', 'UPPER MID INCOME', 'HIGH', 'UPPER HIGH']

apptrain_clean['INCOME_CAT'] = np.select(conditions, categories, default='UNKNOWN')



conditions = [
    (apptest_clean['AMT_INCOME_TOTAL'] >= 25000) & (apptest_clean['AMT_INCOME_TOTAL'] <= 50000),
    (apptest_clean['AMT_INCOME_TOTAL'] >= 50000) & (apptest_clean['AMT_INCOME_TOTAL'] <= 100000),
    (apptest_clean['AMT_INCOME_TOTAL'] >= 100000) & (apptest_clean['AMT_INCOME_TOTAL'] <= 150000),
    (apptest_clean['AMT_INCOME_TOTAL'] >= 150000) & (apptest_clean['AMT_INCOME_TOTAL'] <= 250000),
    (apptest_clean['AMT_INCOME_TOTAL'] >= 250000)
]

categories = ['LOW INCOME', 'LOW MID INCOME', 'UPPER MID INCOME', 'HIGH', 'UPPER HIGH']

apptest_clean['INCOME_CAT'] = np.select(conditions, categories, default='UNKNOWN')

In [39]:
conditions = [
    (apptrain_clean['AMT_CREDIT'] >= 45000)  & (apptrain_clean['AMT_CREDIT'] <= 250000),
    (apptrain_clean['AMT_CREDIT'] >= 250000) & (apptrain_clean['AMT_CREDIT'] <= 500000),
    (apptrain_clean['AMT_CREDIT'] >= 500000) & (apptrain_clean['AMT_CREDIT'] <= 750000),
    (apptrain_clean['AMT_CREDIT'] >= 750000) & (apptrain_clean['AMT_CREDIT'] <= 1000000),
    (apptrain_clean['AMT_CREDIT'] >= 1000000)
]

categories = ['LOW CREDIT', 'MID CREDIT', 'UPPER MID CREDIT', 'HIGH CREDIT', 'UPPER HIGH CREDIT']

apptrain_clean['CREDIT_CAT'] = np.select(conditions, categories, default='UNKNOWN')



conditions = [
    (apptest_clean['AMT_CREDIT'] >= 45000)  & (apptest_clean['AMT_CREDIT'] <= 250000),
    (apptest_clean['AMT_CREDIT'] >= 250000) & (apptest_clean['AMT_CREDIT'] <= 500000),
    (apptest_clean['AMT_CREDIT'] >= 500000) & (apptest_clean['AMT_CREDIT'] <= 750000),
    (apptest_clean['AMT_CREDIT'] >= 750000) & (apptest_clean['AMT_CREDIT'] <= 1000000),
    (apptest_clean['AMT_CREDIT'] >= 1000000)
]

categories = ['LOW CREDIT', 'MID CREDIT', 'UPPER MID CREDIT', 'HIGH CREDIT', 'UPPER HIGH CREDIT']

apptest_clean['CREDIT_CAT'] = np.select(conditions, categories, default='UNKNOWN')

## Feature Engineering Ratio

In [40]:
# Apptrain_clean

# Debt-to-Income Ratio (DTI):
apptrain_clean['DTI%'] = (100 * ( apptrain_clean['AMT_ANNUITY'] / apptrain_clean['AMT_INCOME_TOTAL'])).round(2)

# Credit Utilization Ratio:
apptrain_clean['CUR%'] = (apptrain_clean['AMT_CREDIT'] / apptrain_clean['AMT_INCOME_TOTAL']).round(2)

# Price of Goods to Annual Salary Ratio:
apptrain_clean['PRICE_TO_INCOME%'] = (100 * (apptrain_clean['AMT_GOODS_PRICE'] / apptrain_clean['AMT_INCOME_TOTAL'])).round(2)

# Annuity-to-Total Credit Ratio:
apptrain_clean['ANNUITY_TO_CREDIT%'] = (100 * (apptrain_clean['AMT_ANNUITY'] / apptrain_clean['AMT_CREDIT'])).round(2)

In [41]:
# Apptest_clean

# Debt-to-Income Ratio (DTI):
apptest_clean['DTI%'] = (100 * ( apptest_clean['AMT_ANNUITY'] / apptest_clean['AMT_INCOME_TOTAL'])).round(2)

# Credit Utilization Ratio:
apptest_clean['CUR%'] = (apptest_clean['AMT_CREDIT'] / apptest_clean['AMT_INCOME_TOTAL']).round(2)

# Price of Goods to Annual Salary Ratio:
apptest_clean['PRICE_TO_INCOME%'] = (100 * (apptest_clean['AMT_GOODS_PRICE'] / apptest_clean['AMT_INCOME_TOTAL'])).round(2)

# Annuity-to-Total Credit Ratio:
apptest_clean['ANNUITY_TO_CREDIT%'] = (100 * (apptest_clean['AMT_ANNUITY'] / apptest_clean['AMT_CREDIT'])).round(2)

In [42]:
apptrain_clean['INCOME_CREDIT_RATIO%'] = (100 * (apptrain_clean['AMT_INCOME_TOTAL'] / apptrain_clean['AMT_CREDIT'])).round(2)
apptrain_clean['CREDIT_ANNUITY_RATIO%'] = (100 * (apptrain_clean['AMT_ANNUITY']    / apptrain_clean['AMT_CREDIT'])).round(2)
apptrain_clean['GOODS_CREDIT_RATIO%'] = (100 * (apptrain_clean['AMT_GOODS_PRICE'] / apptrain_clean['AMT_CREDIT'])).round(2)

apptest_clean['INCOME_CREDIT_RATIO%'] = (100 * (apptest_clean['AMT_INCOME_TOTAL'] / apptest_clean['AMT_CREDIT'])).round(2)
apptest_clean['CREDIT_ANNUITY_RATIO%'] = (100 * (apptest_clean['AMT_ANNUITY']    / apptest_clean['AMT_CREDIT'])).round(2)
apptest_clean['GOODS_CREDIT_RATIO%'] = (100 * (apptest_clean['AMT_GOODS_PRICE'] / apptest_clean['AMT_CREDIT'])).round(2)

In [43]:
apptrain_clean.head()
apptest_clean.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_11,FLAG_DOCUMENT_18,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,AGE,YEAR_EMPLOYMENT,YEAR_REGISTRATION,YEAR_ID_PUBLISH,YEAR_LAST_PHONE_CHANGE,AGE_CAT,INCOME_CAT,CREDIT_CAT,DTI%,CUR%,PRICE_TO_INCOME%,ANNUITY_TO_CREDIT%,INCOME_CREDIT_RATIO%,CREDIT_ANNUITY_RATIO%,GOODS_CREDIT_RATIO%
0,100001,Cash loans,F,N,Y,0,"135,000.0","568,800.0","20,560.5","450,000.0",Unaccompanied,Working,Higher education,Married,House / apartment,0.01885,19241,2329,"5,170.0",812,0.0,1,1,0,1,0,1,Laborers,2.0,2,2,TUESDAY,18,0,0,0,0,0,0,Kindergarten,0.7526144906031748,0.7896543511176771,0.1595195404777181,0.0,0.0,0.0,0.0,"1,740.0",1,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,52,6,14.0,2,4.0,FIFTIES,UPPER MID INCOME,UPPER MID CREDIT,15.23,4.21,333.33,3.61,23.73,3.61,79.11
1,100005,Cash loans,M,N,Y,0,"99,000.0","222,768.0","17,370.0","180,000.0",Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.035792,18064,4469,"9,118.0",1623,0.0,1,1,0,1,0,0,Low-skill Laborers,2.0,2,2,FRIDAY,9,0,0,0,0,0,0,Self-employed,0.5649902017969249,0.2916555320093651,0.4329616670974407,0.0,0.0,0.0,0.0,0.0,1,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0,49,12,24.0,4,0.0,FOURTIES,LOW MID INCOME,LOW CREDIT,17.55,2.25,181.82,7.8,44.44,7.8,80.8
2,100013,Cash loans,M,Y,Y,0,"202,500.0","663,264.0","69,777.0","630,000.0",Unaccompanied,Working,Higher education,Married,House / apartment,0.019101,20038,4458,"2,175.0",3503,5.0,1,1,0,1,0,0,Drivers,2.0,2,2,MONDAY,14,0,0,0,0,0,0,Transport: type 3,0.5067712615026179,0.6997868302051784,0.6109913280868294,0.0,0.0,0.0,0.0,856.0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0,54,12,5.0,9,2.0,FIFTIES,HIGH,UPPER MID CREDIT,34.46,3.28,311.11,10.52,30.53,10.52,94.98
3,100028,Cash loans,F,N,Y,2,"315,000.0","1,575,000.0","49,018.5","1,575,000.0",Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.026392,13976,1866,"2,000.0",4208,0.0,1,1,0,1,1,0,Sales staff,4.0,2,2,WEDNESDAY,11,0,0,0,0,0,0,Business Entity Type 3,0.5257339776824489,0.5096770801723647,0.6127042441012546,0.0,0.0,0.0,0.0,"1,805.0",1,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0,38,5,5.0,11,4.0,THIRTIES,UPPER HIGH,UPPER HIGH CREDIT,15.56,5.0,500.0,3.11,20.0,3.11,100.0
4,100038,Cash loans,M,Y,N,1,"180,000.0","625,500.0","32,067.0","625,500.0",Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.010032,13040,2191,"4,000.0",4262,16.0,1,1,1,1,0,0,Laborers,3.0,2,2,FRIDAY,5,0,0,0,0,1,1,Business Entity Type 3,0.202144992067999,0.4256872940912229,0.5190973382084597,0.0,0.0,0.0,0.0,821.0,1,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0,35,6,10.0,11,2.0,THIRTIES,HIGH,UPPER MID CREDIT,17.82,3.48,347.5,5.13,28.78,5.13,100.0

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_11,FLAG_DOCUMENT_18,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,AGE,YEAR_EMPLOYMENT,YEAR_REGISTRATION,YEAR_ID_PUBLISH,YEAR_LAST_PHONE_CHANGE,AGE_CAT,INCOME_CAT,CREDIT_CAT,DTI%,CUR%,PRICE_TO_INCOME%,ANNUITY_TO_CREDIT%,INCOME_CREDIT_RATIO%,CREDIT_ANNUITY_RATIO%,GOODS_CREDIT_RATIO%
0,100002,1,Cash loans,M,N,Y,0,"202,500.0","406,597.5","24,700.5","351,000.0",Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,9461,637,"3,648.0",2120,0.0,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.0830369673913225,0.2629485927471776,0.1393757800997895,2.0,2.0,2.0,2.0,"1,134.0",1,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,25,1,9.0,5,3.0,TWENTIES,HIGH,MID CREDIT,12.2,2.01,173.33,6.07,49.8,6.07,86.33
1,100003,0,Cash loans,F,N,N,0,"270,000.0","1,293,502.5","35,698.5","1,129,500.0",Family,State servant,Higher education,Married,House / apartment,0.0035409999999999,16765,1188,"1,186.0",291,0.0,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.3112673113812225,0.6222457752555098,0.5352762504724826,1.0,0.0,1.0,0.0,828.0,1,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,45,3,3.0,0,2.0,FOURTIES,UPPER HIGH,UPPER HIGH CREDIT,13.22,4.79,418.33,2.76,20.87,2.76,87.32
2,100004,0,Revolving loans,M,Y,Y,0,"67,500.0","135,000.0","6,750.0","135,000.0",Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,19046,225,"4,260.0",2531,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,0.5059979305057544,0.5559120833904428,0.7295666907060153,0.0,0.0,0.0,0.0,815.0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,52,0,11.0,6,2.0,FIFTIES,LOW MID INCOME,LOW CREDIT,10.0,2.0,200.0,5.0,50.0,5.0,100.0
3,100006,0,Cash loans,F,N,Y,0,"135,000.0","312,682.5","29,686.5","297,000.0",Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,19005,3039,"9,833.0",2437,0.0,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,0.5059979305057544,0.6504416904014653,0.5352762504724826,2.0,0.0,2.0,0.0,617.0,1,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,52,8,26.0,6,1.0,FIFTIES,UPPER MID INCOME,MID CREDIT,21.99,2.32,220.0,9.49,43.17,9.49,94.98
4,100007,0,Cash loans,M,N,Y,0,"121,500.0","513,000.0","21,865.5","513,000.0",Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,19932,3038,"4,311.0",3458,0.0,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,0.5059979305057544,0.3227382869704046,0.5352762504724826,0.0,0.0,0.0,0.0,"1,106.0",0,0,0,0,0,1,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,54,8,11.0,9,3.0,FIFTIES,UPPER MID INCOME,UPPER MID CREDIT,18.0,4.22,422.22,4.26,23.68,4.26,100.0

In [44]:
# Feature Engineering : Credit & Interest Amount

apptrain_clean['AMT_INTEREST_PAID']  =        apptrain_clean['AMT_CREDIT'] - apptrain_clean['AMT_GOODS_PRICE']
apptrain_clean['AMT_INTEREST_RATE%'] = (100 * apptrain_clean['AMT_INTEREST_PAID'] / apptrain_clean['AMT_GOODS_PRICE']).round(2)

apptest_clean['AMT_INTEREST_PAID']  =        apptest_clean['AMT_CREDIT'] - apptest_clean['AMT_GOODS_PRICE']
apptest_clean['AMT_INTEREST_RATE%'] = (100 * apptest_clean['AMT_INTEREST_PAID'] / apptest_clean['AMT_GOODS_PRICE']).round(2)

apptrain_clean['YEAR_CREDIT_DURATION'] = apptrain_clean['AMT_CREDIT'] // apptrain_clean['AMT_ANNUITY']
apptest_clean['YEAR_CREDIT_DURATION']  = apptest_clean['AMT_CREDIT'] // apptest_clean['AMT_ANNUITY']

In [45]:
apptest_clean.describe()
apptrain_clean.describe()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_11,FLAG_DOCUMENT_18,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,AGE,YEAR_EMPLOYMENT,YEAR_REGISTRATION,YEAR_ID_PUBLISH,YEAR_LAST_PHONE_CHANGE,DTI%,CUR%,PRICE_TO_INCOME%,ANNUITY_TO_CREDIT%,INCOME_CREDIT_RATIO%,CREDIT_ANNUITY_RATIO%,GOODS_CREDIT_RATIO%,AMT_INTEREST_PAID,AMT_INTEREST_RATE%,YEAR_CREDIT_DURATION
count,"307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0","307,232.0"
mean,"278,169.8332074784",0.08073377773148631,0.4169617748151234,"168,833.3830588448","599,316.0480760467","27,119.748536936255","538,397.1396111082",0.020870455776091014,"16,038.752161233206","67,758.21018969378","4,986.339538334766","2,994.380334730757",4.105535881678992,1.0,0.8197974169357358,0.1988725132798667,0.998131705030726,0.28065435892094576,0.05671284241224872,2.1526110561399854,2.0524391990417663,2.0314843505884803,12.063089131340485,0.015151416519112592,0.05076945109884387,0.040653317362774714,0.07816243099677117,0.23040894177689825,0.17951255077596084,0.5043319468164199,0.514503864074453,0.515716055203609,1.4176713363191333,0.1429506041037392,1.400781819602125,0.09971292052911156,962.8821672221644,0.7104175346318092,8.137173211123842e-05,0.01466969586501406,0.08812233100718675,0.00013995937923133006,0.0814238100197896,0.003883059056348297,0.003915607749192793,0.008133918341839392,0.005539787522133111,0.006060566607645037,0.029736485782730967,0.23141469638579315,0.22968310592646599,1.7787404957816895,43.44075486928445,185.11319784397458,13.169298770961358,7.71395883241329,2.225230444745339,18.098483165816067,3.9590923146026453,354.43270893005933,5.369747877825227,39.956768044995314,5.369747877825227,90.06857062415374,"60,918.90846493855",12.299520134621394,21.17886808665764
std,"102,788.03050458159",0.2724262770518235,0.7220381473454429,"237,216.06628320875","402,517.9527640585","14,492.289671928793","369,446.7004740707",0.013832439381311793,"4,363.827260421781","139,471.45858125488","3,523.1742843417933","1,509.377901611859",9.012706598938971,0.0,0.3843567261846384,0.39915254642349274,0.04318345184091098,0.44931964886831605,0.2312934716814124,0.9106141679744149,0.5090909154255818,0.502793676591285,3.2659352359840557,0.12215522774490593,0.21952692498383183,0.19748608075640744,0.2684274574284808,0.42109528432838184,0.3837815450148025,0.13940356598851442,0.19088020824234941,0.17474271949134645,2.398561331487439,0.4460568867913789,2.3774030597695144,0.3617189800231221,826.9228726765654,0.45356932295723046,0.009020275804326242,0.12022704743895972,0.28347318627470175,0.01182963423317492,0.27348531336627413,0.06219319495351917,0.062452289470253726,0.08982084376039855,0.07802874358976311,0.10308373244758312,0.19078032567664727,0.8570823691844845,0.7442422459703679,1.7657278452557332,11.95416725501949,382.04808672104735,9.647634828477162,4.134328759838493,2.193931980092232,9.45879959610561,2.6903073545865968,242.77101989435698,2.249159093914131,50.80910731457118,2.249159093914131,9.663567155682063,"70,495.205507147",12.404529479544895,7.857498437009648
min,"100,002.0",0.0,0.0,"25,650.0","45,000.0","1,615.5","40,500.0",0.00029,"7,489.0",0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0145681324124455,8.173616518884397e-08,0.0005272652387098,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0,0.0,0.0,0.0,0.0,0.02,0.0,0.39,0.61,1.18,0.61,16.67,"-765,000.0",-85.0,8.0
25%,"189,138.75",0.0,0.0,"112,500.0","270,000.0","16,551.0","238,500.0",0.010006,"12,415.0",933.0,"2,009.0","1,720.0",0.0,1.0,1.0,0.0,1.0,0.0,0.0,2.0,2.0,2.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.5059979305057544,0.3929450311230969,0.4170996682522097,0.0,0.0,0.0,0.0,274.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,34.0,2.0,5.0,4.0,0.0,11.48,2.02,184.0,3.69,19.36,3.69,83.47,0.0,0.0,15.0
50%,"278,192.5",0.0,0.0,"148,500.0","514,602.0","24,916.5","450,000.0",0.01885,"15,752.5","2,219.5","4,504.0","3,255.0",0.0,1.0,1.0,0.0,1.0,0.0,0.0,2.0,2.0,2.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.5059979305057544,0.5659614260608526,0.5352762504724826,0.0,0.0,0.0,0.0,757.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,43.0,6.0,12.0,8.0,2.0,16.29,3.27,294.12,5.0,30.61,5.0,89.38,"39,204.0",11.88,20.0
75%,"367,125.25",0.0,1.0,"202,500.0","808,650.0","34,596.0","679,500.0",0.028663,"19,684.0","5,710.0","7,480.0","4,299.0",5.0,1.0,1.0,0.0,1.0,1.0,0.0,3.0,2.0,2.0,14.0,0.0,0.0,0.0,0.0,0.0,0.0,0.5059979305057544,0.6634327886788485,0.6363761710860439,2.0,0.0,2.0,0.0,"1,570.0",1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,53.0,15.0,20.0,11.0,4.0,22.91,5.17,461.54,6.41,49.54,6.41,100.0,"99,972.0",19.8,27.0
max,"456,255.0",1.0,19.0,"117,000,000.0","4,050,000.0","258,025.5","4,050,000.0",0.072508,"25,229.0","365,243.0","24,672.0","7,197.0",91.0,1.0,1.0,1.0,1.0,1.0,1.0,20.0,3.0,3.0,23.0,1.0,1.0,1.0,1.0,1.0,1.0,0.962692770561306,0.8549996664047012,0.8960095494948396,348.0,34.0,344.0,24.0,"4,292.0",1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,4.0,9.0,8.0,27.0,261.0,25.0,69.0,"1,000.0",67.0,19.0,11.0,187.6,84.74,"8,473.68",12.44,"20,800.33",12.44,666.67,"540,000.0",500.0,164.0

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_11,FLAG_DOCUMENT_18,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,AGE,YEAR_EMPLOYMENT,YEAR_REGISTRATION,YEAR_ID_PUBLISH,YEAR_LAST_PHONE_CHANGE,DTI%,CUR%,PRICE_TO_INCOME%,ANNUITY_TO_CREDIT%,INCOME_CREDIT_RATIO%,CREDIT_ANNUITY_RATIO%,GOODS_CREDIT_RATIO%,AMT_INTEREST_PAID,AMT_INTEREST_RATE%,YEAR_CREDIT_DURATION
count,"48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0","48,744.0"
mean,"277,796.67634990974",0.39705399638929917,"178,431.80585487446","516,740.43556129985","29,425.36687592319","462,618.84047267353",0.021225641084030845,"16,068.084605284754","71,496.39890037748","4,967.652716231742","3,051.712949286066",3.9731659281142293,0.9999794846545216,0.8097201706876744,0.20470211718365336,0.9983998030526834,0.26312982110618743,0.16264565895289676,2.1467667815526013,2.038158542589857,2.0125964221237487,12.007365009026753,0.01883308714918759,0.05516576399146562,0.04203594288527819,0.07746594452650582,0.22466354833415395,0.17421631380272443,0.5035350475737924,0.5180277615178049,0.5034828649988542,1.4467831938289841,0.14356638765796817,1.4348842934515018,0.10107910717216478,"1,077.7662276382734",0.7866198916789758,0.00010257672739208929,0.014750533398982439,0.08747743311997375,4.103069095683571e-05,0.0884621697029378,0.0044928606597735106,0.0011693746922698178,0.001559166256359757,0.001846381093057607,0.0015796816018381749,0.002441326111931725,0.00814459215493189,0.47903331692105694,1.9857828655834564,43.52664943377646,195.35044313146233,13.113244707040867,7.852104874446086,2.496553421959626,18.29829414902347,3.1675867799113733,282.36989085836206,6.663976079107171,48.924756277695714,6.663976079107171,89.3582564007878,"54,121.595088626294",13.188784465780403,16.641125061546038
std,"103,169.54729627114",0.7090468312730408,"101,522.59153614278","365,397.0041738182","16,012.473120797484","336,710.215039643",0.014428194484779932,"4,325.900393031723","142,404.42299159896","3,552.6120351234963","1,569.2767091933626",8.679626900283239,0.004529386876655368,0.39252589316298747,0.40348791847306004,0.03997085305294108,0.4403367986035462,0.3690458544150365,0.8904228948066035,0.5226939600464158,0.5158041404113929,3.2781720386173405,0.13593668039273465,0.22830587335368033,0.20067323822280692,0.26733207462590486,0.4173648428199108,0.3792992767040749,0.15609044029746882,0.181263991198688,0.1719779534746105,3.6071525426106676,0.5142716781102135,3.5792306836867334,0.40367857062669144,878.9207400551999,0.4096980366630701,0.010127601376011696,0.12055394360260757,0.28253631534453894,0.006405454642784239,0.28396878095368977,0.06687874567617046,0.034176471697102626,0.039455889225331275,0.04340554472221339,0.04317915346772192,0.050581721998626226,0.10385809870001755,0.6734487859806141,1.7210007847657294,11.854446382235961,390.08328174555334,9.734742692896763,4.300836661387446,2.3355693542473666,9.547596663059618,2.1371478325643345,193.3992811421553,2.46121357892163,40.80668318804308,2.46121357892163,9.27590548980512,"61,334.86560864147",12.469681234368961,6.29853691056797
min,"100,001.0",0.0,"26,941.5","45,000.0","2,295.0","45,000.0",0.0002529999999999,"7,338.0",1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0134579104986917,8.09785587553435e-06,0.0005272652387098,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0,0.0,0.0,0.0,0.0,0.57,0.09,9.25,1.54,3.28,1.54,25.0,"-315,000.0",-35.0,3.0
25%,"188,557.75",0.0,"112,500.0","260,640.0","17,973.0","225,000.0",0.010006,"12,496.0","1,048.0","1,901.0","1,706.0",0.0,1.0,1.0,0.0,1.0,0.0,0.0,2.0,2.0,2.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.46528687754468046,0.40808201714019215,0.3996756156233169,0.0,0.0,0.0,0.0,363.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,34.0,2.0,5.0,4.0,0.0,11.63,1.7,150.0,4.85,24.82,4.85,82.56,0.0,0.0,12.0
50%,"277,549.0",0.0,"157,500.0","450,000.0","26,221.5","396,000.0",0.01885,"15,785.0","2,432.0","4,490.0","3,234.0",0.0,1.0,1.0,0.0,1.0,0.0,0.0,2.0,2.0,2.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.5067712615026179,0.5587579430597367,0.5190973382084597,0.0,0.0,0.0,0.0,863.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,43.0,6.0,12.0,8.0,2.0,16.59,2.67,236.54,6.14,37.504999999999995,6.14,88.34,"37,422.0",13.2,16.0
75%,"367,555.5",1.0,"225,000.0","675,000.0","37,390.5","630,000.0",0.028663,"19,637.0","6,167.0","7,459.25","4,448.0",5.0,1.0,1.0,0.0,1.0,1.0,0.0,3.0,2.0,2.0,14.0,0.0,0.0,0.0,0.0,0.0,0.0,0.551291470752723,0.6584798020441781,0.6246146584503397,2.0,0.0,2.0,0.0,"1,766.25",1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0,53.0,16.0,20.0,12.0,4.0,22.99,4.03,358.97,7.94,58.97,7.94,100.0,"85,536.0",21.12,20.0
max,"456,250.0",20.0,"4,410,000.0","2,245,500.0","180,576.0","2,245,500.0",0.072508,"25,195.0","365,243.0","23,722.0","6,348.0",74.0,1.0,1.0,1.0,1.0,1.0,1.0,21.0,3.0,3.0,23.0,1.0,1.0,1.0,1.0,1.0,1.0,0.9391445326561508,0.8549996664047012,0.8825303127941461,354.0,34.0,351.0,24.0,"4,361.0",1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0,2.0,6.0,7.0,17.0,69.0,"1,000.0",64.0,17.0,11.0,202.47,30.44,"2,500.0",26.52,"1,081.08",26.52,153.85,"356,400.0",300.0,65.0

In [46]:
apptest_final  = apptest_clean[apptest_clean['AMT_INTEREST_PAID'] >= 0]
apptrain_final = apptrain_clean[apptrain_clean['AMT_INTEREST_PAID'] >= 0]

In [47]:
apptest_final.describe()
apptrain_final.describe()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_11,FLAG_DOCUMENT_18,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,AGE,YEAR_EMPLOYMENT,YEAR_REGISTRATION,YEAR_ID_PUBLISH,YEAR_LAST_PHONE_CHANGE,DTI%,CUR%,PRICE_TO_INCOME%,ANNUITY_TO_CREDIT%,INCOME_CREDIT_RATIO%,CREDIT_ANNUITY_RATIO%,GOODS_CREDIT_RATIO%,AMT_INTEREST_PAID,AMT_INTEREST_RATE%,YEAR_CREDIT_DURATION
count,"306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0","306,972.0"
mean,"278,167.5299897059",0.08075980871219525,0.41691750387657506,"168,837.94236586726","599,608.5329688049","27,131.9622229389","538,486.3765978656",0.02087035371304222,"16,039.153671996142","67,773.22672751913","4,986.289775750449","2,994.412966003414",4.105172458725877,1.0,0.8197555477372529,0.1986304939864222,0.9981301226170465,0.28044903118199704,0.0566924670654001,2.1525969795290774,2.0524510378796763,2.031484956282658,12.062582255059093,0.015157734255893045,0.05077661806288521,0.04065843138787902,0.07817651121274904,0.2304118942444262,0.17950822876353545,0.504332442950603,0.5144917428874836,0.5157548926140058,1.4175266799577813,0.14290879949962862,1.4006424038674536,0.09968010111671423,962.9886927797975,0.7110029579245013,8.14406525676609e-05,0.014672347966589786,0.08819696910467405,0.00014007792241637674,0.0814895169592015,0.0038863479405287778,0.003918924201555842,0.008140807630663383,0.005534706748498234,0.0060526692988285575,0.029755156822120585,0.23144781934508685,0.22968544362352267,1.7785498351641191,43.441867662197204,185.15429420272858,13.169135947252519,7.714013004443402,2.2254798483249285,18.10665044368868,3.9610133171755075,354.4890235917282,5.370061047913165,39.93189730659475,5.370061047913165,89.99499684010267,"61,122.15637093937",12.341397521598065,21.179866567634832
std,"102,789.52444391047",0.27246633525685016,0.7219796806672449,"237,302.75310207612","402,543.95461321576","14,491.033648911338","369,526.9774129383",0.013833287897877454,"4,363.831448627108","139,484.16223738214","3,523.308975118376","1,509.301087991479",9.012037334663594,0.0,0.38439155951697124,0.3989698477129378,0.043201701604419385,0.44921935563108206,0.23125441716157485,0.9105371986162595,0.5091603995368739,0.5028583802405597,3.2659381463199,0.122180301104752,0.21954159089727357,0.19749797571147293,0.26844958384911005,0.4210971751111661,0.38377793627411316,0.1393972585360758,0.1908865551221931,0.17472406243768412,2.398529583716859,0.4459280137080879,2.3773788013490944,0.36158662392944585,826.9556982328862,0.45329727676104487,0.009024094706408152,0.12023775308787032,0.2835816032800995,0.011834642235872215,0.2735858538297045,0.062219425032069335,0.06247862795435722,0.08985856211672433,0.07795791019387366,0.10303318461853546,0.19084308585054147,0.8572879908461437,0.7443787986182154,1.7656064860007776,11.95417523387222,382.0829035208572,9.648015424943882,4.134129357195075,2.1940241502264617,9.457990488659595,2.690545063353889,242.827703408372,2.250085642186582,50.81700386001928,2.250085642186582,9.081555733839686,"70,029.62793464589",12.31554915779737,7.8607503926555875
min,"100,002.0",0.0,0.0,"25,650.0","45,000.0","1,615.5","40,500.0",0.00029,"7,489.0",0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0145681324124455,8.173616518884397e-08,0.0005272652387098,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0,0.0,0.0,0.0,0.0,0.02,0.0,0.39,0.61,1.18,0.61,16.67,0.0,0.0,8.0
25%,"189,135.75",0.0,0.0,"112,500.0","270,000.0","16,564.5","238,500.0",0.010006,"12,415.0",933.0,"2,009.0","1,720.0",0.0,1.0,1.0,0.0,1.0,0.0,0.0,2.0,2.0,2.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.5059979305057544,0.3928954775909344,0.4170996682522097,0.0,0.0,0.0,0.0,274.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,34.0,2.0,5.0,4.0,0.0,11.49,2.02,184.0,3.69,19.35,3.69,83.47,0.0,0.0,15.0
50%,"278,191.5",0.0,0.0,"148,500.0","514,867.5","24,930.0","450,000.0",0.01885,"15,753.0","2,219.0","4,504.0","3,254.0",0.0,1.0,1.0,0.0,1.0,0.0,0.0,2.0,2.0,2.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.5059979305057544,0.5659614260608526,0.5352762504724826,0.0,0.0,0.0,0.0,757.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,43.0,6.0,12.0,8.0,2.0,16.3,3.27,294.12,5.0,30.56,5.0,89.38,"39,204.0",11.88,20.0
75%,"367,123.5",0.0,1.0,"202,500.0","808,650.0","34,600.5","679,500.0",0.028663,"19,684.0","5,711.25","7,480.0","4,299.0",5.0,1.0,1.0,0.0,1.0,1.0,0.0,3.0,2.0,2.0,14.0,0.0,0.0,0.0,0.0,0.0,0.0,0.5059979305057544,0.6634327886788485,0.6363761710860439,2.0,0.0,2.0,0.0,"1,570.0",1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,53.0,15.0,20.0,11.0,4.0,22.92,5.17,461.54,6.41,49.5,6.41,100.0,"99,972.0",19.8,27.0
max,"456,255.0",1.0,19.0,"117,000,000.0","4,050,000.0","258,025.5","4,050,000.0",0.072508,"25,229.0","365,243.0","24,672.0","7,197.0",91.0,1.0,1.0,1.0,1.0,1.0,1.0,20.0,3.0,3.0,23.0,1.0,1.0,1.0,1.0,1.0,1.0,0.962692770561306,0.8549996664047012,0.8960095494948396,348.0,34.0,344.0,24.0,"4,292.0",1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,4.0,9.0,8.0,27.0,261.0,25.0,69.0,"1,000.0",67.0,19.0,11.0,187.6,84.74,"8,473.68",12.44,"20,800.33",12.44,100.0,"540,000.0",500.0,164.0

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_11,FLAG_DOCUMENT_18,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,AGE,YEAR_EMPLOYMENT,YEAR_REGISTRATION,YEAR_ID_PUBLISH,YEAR_LAST_PHONE_CHANGE,DTI%,CUR%,PRICE_TO_INCOME%,ANNUITY_TO_CREDIT%,INCOME_CREDIT_RATIO%,CREDIT_ANNUITY_RATIO%,GOODS_CREDIT_RATIO%,AMT_INTEREST_PAID,AMT_INTEREST_RATE%,YEAR_CREDIT_DURATION
count,"48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0","48,740.0"
mean,"277,794.3130693476",0.39708658186294626,"178,436.20116105868","516,762.0699835864","29,426.743085761183","462,626.3389413213",0.021226428067295845,"16,068.025194911777","71,494.46261797292","4,967.779790726303","3,051.6926343865407",3.9728970045137464,0.9999794829708658,0.809725071809602,0.20467788264259335,0.9983996717275339,0.2631103816167419,0.16265900697578992,2.1467993434550676,2.038120640131309,2.012556421830119,12.007263028313501,0.0188346327451785,0.055170291341813706,0.04203939269593763,0.07745178498153467,0.22466146901928602,0.1742306114074682,0.5035267621598999,0.5180248196715006,0.5034723591138266,1.4468608945424704,0.14357816988100122,1.434961017644645,0.10108740254411161,"1,077.7436807550266",0.7866844480919163,0.00010258514567090685,0.014751743947476406,0.08748461222814936,4.1034058268362744e-05,0.08846942962659007,0.00449322938038572,0.001169470660648338,0.0015592942141977842,0.0018465326220763233,0.0015798112433319654,0.002441526466967583,0.008145260566270004,0.47903159622486663,1.9857816988100123,43.526487484612225,195.3451374640952,13.113602790315962,7.852031185884284,2.496491588018055,18.299042470250306,3.167696142798522,282.371311243332,6.6641126384899465,48.923509232663115,6.6641126384899465,89.35403118588427,"54,135.73104226508",13.19222630283135,16.640849405006154
std,"103,168.49892660863",0.7090668020701549,"101,525.12175288357","365,400.06081704714","16,012.173739728192","336,711.6159492744",0.014428283923685252,"4,325.934168304944","142,403.09063428856","3,552.645568215502","1,569.300538059974",8.679186784614572,0.004529572731967263,0.39252202616396814,0.40347018096696075,0.039972490590351316,0.4403263411304667,0.3690580563052057,0.8904435366621518,0.522679035262122,0.5157865164198527,3.2781284099708303,0.13594215135395007,0.22831469466190052,0.20068111131377098,0.2673096930868631,0.41736347140736313,0.37931155715312653,0.15608707171559116,0.18126571243730213,0.17197487194400718,3.6072818292036506,0.5142911360712655,3.5793589351258595,0.4036940965714798,878.9469686323401,0.4096528656034602,0.010128016909962248,0.12055881635646294,0.2825467975064013,0.006405717473797936,0.2839793024648878,0.06688147759657721,0.03417787245451661,0.03945750573219847,0.04340732260480318,0.043180922912050626,0.050583792736590555,0.10386233420913912,0.6734611608640757,1.7210237136352644,11.854520402199924,390.0796328277283,9.734831375106754,4.30090348144862,2.335634354627979,9.547556006020363,2.1371879952713004,193.40308862130377,2.4612684067282564,40.80762908951615,2.4612684067282564,9.26423547595097,"61,308.82565577055",12.464346734470235,6.298721859279069
min,"100,001.0",0.0,"26,941.5","45,000.0","2,295.0","45,000.0",0.0002529999999999,"7,338.0",1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0134579104986917,8.09785587553435e-06,0.0005272652387098,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0,0.0,0.0,0.0,0.0,0.57,0.09,9.25,1.54,3.28,1.54,25.0,0.0,0.0,3.0
25%,"188,557.75",0.0,"112,500.0","260,640.0","17,973.0","225,000.0",0.010006,"12,496.0","1,048.0","1,901.0","1,706.0",0.0,1.0,1.0,0.0,1.0,0.0,0.0,2.0,2.0,2.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.46528687754468046,0.40808201714019215,0.3996756156233169,0.0,0.0,0.0,0.0,363.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,34.0,2.0,5.0,4.0,0.0,11.637500000000001,1.7,150.0,4.85,24.82,4.85,82.56,0.0,0.0,12.0
50%,"277,542.0",0.0,"157,500.0","450,000.0","26,221.5","396,000.0",0.01885,"15,785.0","2,432.0","4,490.0","3,234.0",0.0,1.0,1.0,0.0,1.0,0.0,0.0,2.0,2.0,2.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.5067712615026179,0.5587579430597367,0.5190973382084597,0.0,0.0,0.0,0.0,863.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,43.0,6.0,12.0,8.0,2.0,16.59,2.67,236.67,6.14,37.5,6.14,88.34,"37,422.0",13.2,16.0
75%,"367,549.0",1.0,"225,000.0","675,000.0","37,390.5","630,000.0",0.028663,"19,637.0","6,166.25","7,459.25","4,448.0",5.0,1.0,1.0,0.0,1.0,1.0,0.0,3.0,2.0,2.0,14.0,0.0,0.0,0.0,0.0,0.0,0.0,0.5512690577689836,0.6584798020441781,0.6246146584503397,2.0,0.0,2.0,0.0,"1,766.25",1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0,53.0,16.0,20.0,12.0,4.0,22.99,4.03,358.97,7.94,58.97,7.94,100.0,"85,536.0",21.12,20.0
max,"456,250.0",20.0,"4,410,000.0","2,245,500.0","180,576.0","2,245,500.0",0.072508,"25,195.0","365,243.0","23,722.0","6,348.0",74.0,1.0,1.0,1.0,1.0,1.0,1.0,21.0,3.0,3.0,23.0,1.0,1.0,1.0,1.0,1.0,1.0,0.9391445326561508,0.8549996664047012,0.8825303127941461,354.0,34.0,351.0,24.0,"4,361.0",1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0,2.0,6.0,7.0,17.0,69.0,"1,000.0",64.0,17.0,11.0,202.47,30.44,"2,500.0",26.52,"1,081.08",26.52,100.0,"356,400.0",300.0,65.0

# Saving into New Files

In [48]:
apptrain_final.to_csv('data_unsupervised.csv', index=False)
apptest_final.to_csv('data_supervised.csv', index=False)

In [49]:
print(f"Row & Columns oada Apptrain_Clean:",apptrain_clean.shape)
print(f"Row & Columns pada Apptest_Clean :",apptest_clean.shape)

Row & Columns oada Apptrain_Clean: (48744, 81)
Row & Columns pada Apptest_Clean : (307232, 82)